USE [BookManagement]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 12/20/2021 9:03:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[BookTitle] [varchar](max) NULL,
	[Author] [varchar](max) NULL,
	[Brief] [varchar](max) NULL,
	[Publisher] [varchar](max) NULL,
	[Image] [varchar](max) NULL,
	[Content] [varchar](max) NULL,
	[Category] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCase]    Script Date: 12/20/2021 9:03:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCase](
	[BookCaseID] [int] IDENTITY(1,1) NOT NULL,
	[BookCaseName] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookCaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contain]    Script Date: 12/20/2021 9:03:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contain](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BookCaseID] [int] NULL,
	[BookID] [int] NULL,
	[CreateDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userInfor]    Script Date: 12/20/2021 9:03:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userInfor](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](max) NULL,
	[password] [varchar](max) NULL,
	[roleID] [bit] NULL,
	[BookCaseID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userRole]    Script Date: 12/20/2021 9:03:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userRole](
	[roleID] [bit] NOT NULL,
	[authority] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BookCase] ON 

INSERT [dbo].[BookCase] ([BookCaseID], [BookCaseName]) VALUES (1, N'Yeu thich')
INSERT [dbo].[BookCase] ([BookCaseID], [BookCaseName]) VALUES (2, N'Yeu thich')
INSERT [dbo].[BookCase] ([BookCaseID], [BookCaseName]) VALUES (3, N'Hay')
SET IDENTITY_INSERT [dbo].[BookCase] OFF
GO
SET IDENTITY_INSERT [dbo].[Contain] ON 

INSERT [dbo].[Contain] ([ID], [BookCaseID], [BookID], [CreateDate]) VALUES (2, 1, NULL, NULL)
INSERT [dbo].[Contain] ([ID], [BookCaseID], [BookID], [CreateDate]) VALUES (3, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Contain] OFF
GO
SET IDENTITY_INSERT [dbo].[userInfor] ON 

INSERT [dbo].[userInfor] ([userID], [userName], [password], [roleID], [BookCaseID]) VALUES (2, N'minh123', N'123', 0, 1)
INSERT [dbo].[userInfor] ([userID], [userName], [password], [roleID], [BookCaseID]) VALUES (3, N'minh333', N'333', 0, NULL)
INSERT [dbo].[userInfor] ([userID], [userName], [password], [roleID], [BookCaseID]) VALUES (4, N'bbb', N'bbb', 0, NULL)
SET IDENTITY_INSERT [dbo].[userInfor] OFF
GO
INSERT [dbo].[userRole] ([roleID], [authority]) VALUES (0, N'user')
INSERT [dbo].[userRole] ([roleID], [authority]) VALUES (1, N'admin')
GO
ALTER TABLE [dbo].[Contain]  WITH CHECK ADD  CONSTRAINT [FK_Contain_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[Contain] CHECK CONSTRAINT [FK_Contain_Book]
GO
ALTER TABLE [dbo].[Contain]  WITH CHECK ADD  CONSTRAINT [FK_Contain_BookCase] FOREIGN KEY([BookCaseID])
REFERENCES [dbo].[BookCase] ([BookCaseID])
GO
ALTER TABLE [dbo].[Contain] CHECK CONSTRAINT [FK_Contain_BookCase]
GO
ALTER TABLE [dbo].[userInfor]  WITH CHECK ADD  CONSTRAINT [FK_userInfor_BookCase] FOREIGN KEY([BookCaseID])
REFERENCES [dbo].[BookCase] ([BookCaseID])
GO
ALTER TABLE [dbo].[userInfor] CHECK CONSTRAINT [FK_userInfor_BookCase]
GO
ALTER TABLE [dbo].[userInfor]  WITH CHECK ADD  CONSTRAINT [FK_userInfor_userRole] FOREIGN KEY([roleID])
REFERENCES [dbo].[userRole] ([roleID])
GO
ALTER TABLE [dbo].[userInfor] CHECK CONSTRAINT [FK_userInfor_userRole]
GO
