@model FacilitiesOnlinBooking.Model.Building

@{ ViewData["Title"] = "UpdateBuilding"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateBuilding</title>
</head>
<body>
    <h1>Update Building</h1>
    <h4>Building</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditBuilding">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="name" class="control-label">Building</label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="note" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>
